<%- include("partials/header") -%>

<h1>Compose</h1>
 
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="" name="postTitle"></input>
       
       <label>Post</label>
        <textarea rows="5" cols="30" name="postBody" class="form-control"></textarea>
        
    </div>
    <button type="submit" class= "btn btn-primary" name="submit">Submit</button>
</form>
